#timeline-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.timeline {
    margin-bottom: 30px;
    transition: margin-top 0.5s, opacity 0.3s, visibility 0.3s;
}
.timeline-content {
    background: var(--theme-secondary-color);
    border-radius: 3px;
    margin-left: 17.5px;
    padding: 24px;
    transition: box-shadow 0.5s;
}
.timeline-content:hover {
    box-shadow: 0 2px 8px var(--shadow-color);
}
.timeline-tail {
    background: var(--theme-secondary-color);
    border: 2px solid var(--theme-primary-color);
    border-radius: 50%;
    height: 7px;
    position: absolute;
    width: 7px;
}
#search-bar {
    margin: auto;
    margin-top: 70px;
    z-index: 10;
    border: 1px solid var(--surface-color);
    background: var(--theme-secondary-color);
    border-radius: 50px;
    box-sizing: border-box;
    color: var(--surface-color);
    display: block;
    font-size: 15px;
    height: 50px;
    text-indent: 20px;
    transition: background 0.25s, border 0.25s, box-shadow 0.25s;
    width: 60%;
}
#search-bar:focus {
    background: var(--theme-secondary-color);
    box-shadow: 0 0 0 3px var(--text-secondary-color);
    outline: none;
}