.card {
    border-radius: 25px;
    box-shadow: 0 0 4px 4px var(--shadow-color);
    padding: 20px 0 20px 0;
}
.card .main-card {
    padding: 20px;
    text-align: center;
}
.card .main-card img {
    width: 100px;
    border: 5px solid var(--theme-primary-color);
    border-radius: 50%;
    margin-bottom: 20px;
}
.card .main-card h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary-color);
    margin-bottom: 10px;
    padding-top: 20px;
    border-top: 2px solid var(--theme-primary-color);
}
.card .main-card p {
    font-size: 16px;
    color: var(--text-secondary-color);
    margin-bottom: 20px;
}
.card .main-card .iconlinks {
    border-top: 1px solid var(--text-secondary-color);
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.card .main-card .iconlinks i {
    font-size: 20px;
}
.card .main-card .links {
    margin-top: 20px;
}
.card .main-card .links a {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--text-secondary-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.card .main-card .links a:hover {
    background-color: var(--theme-primary-color);
    color: var(--surface-color);
}