:root {
    --theme-primary-color: #2994db;
    --theme-secondary-color: #8eb8e7;
    --background-color: #ffffff;
    --surface-color: #f8f9fa;
    --text-primary-color: #333333;
    --text-secondary-color: #777777;
    --border-color: #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --font-family: "Noto Sans SC", sans-serif;
}
body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family);
    scrollbar-color: var(--theme-secondary-color) var(--theme-primary-color);
    scrollbar-width: thin;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--theme-primary-color);
    font-weight: bold;
    margin: 15px 0;
    word-break: keep-all;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}
hr {
    border-style: dashed none none;
    border-width: 1.5px;
}
img, video, audio, iframe {
    border-radius: 10px;
}
p, ul, ol {
    line-height: 1.7;
    margin: 15px 0;
}
a {
    text-decoration: none;
    color: var(--theme-primary-color)
}
.main {
    min-height: 600px;
}
#home-head {
    position: relative;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
#home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
#home-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
    text-shadow: 0 0 10px var(--surface-color);
}
#home-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-primary-color);
}
#home-description {
    font-size: 20px;
    color: var(--text-primary-color);
}
#main-wrapper {
    width: 1400px;
    margin: auto;
    padding: 40px 100px;
    display: grid;
}
#main-wrapper.with-cards {
    grid-template-columns: 5fr 1fr;
    gap: 40px;
}
#main-wrapper.without-cards {
    grid-template-columns: 5fr;
}
#posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    gap: 40px;
}
#posts-wrapper  .post{
    height: 350px;
}
#card-wrapper {
    grid-template-columns: 1fr;
}
#page-current {
    user-select: none;
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--theme-primary-color);
}