.post {
    background-color: var(--surface-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    border-radius: 25px;
}
.post:hover {
    box-shadow: 0 4px 8px var(--shadow-color);
}
.post .post-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-primary-color);
    text-align: center;
    margin-top: 20px;
}
.post .category-and-date {
    font-size: 14px;
    color: var(--text-secondary-color);
    text-align: center;
    margin-top: 10px;
}
.post .post-tags {
    font-size: 14px;
    color: var(--text-secondary-color);
    text-align: center;
    margin-top: 10px;
}

