#footer {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
#footer #footer-wrap {
    border-top: 1px solid var(--border-color);
    color: var(--text-secondary-color);
    margin: auto;
    max-width: 900px;
}
#footer #footer-wrap div {
    margin: 15px;
}
#footer #footer-icon {
    color: var(--primary-color);
    display: inline-block;
    margin: 0 10px;
}
