#menu {
    display: flex;
    gap: 20px;
    background-color: var(--theme-primary-color);
    box-shadow: 0 10px 10px 0 var(--shadow-color);
    font-weight: bold;
    position: fixed;
    transition: background 0.25s ease-out, top 0.25s ease-out;
    top: 0;
    width: 100vw;
    height: 50px;
    z-index: 100;
}
#menu #desktop-menu {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-left: 20px;
    gap: 40px;
}
#menu #desktop-menu.left {
    justify-content: start;
    margin-left: 60px;
}
#menu #desktop-menu.center {
    justify-content: center;
    width: 100%;
    margin-left: 0;
}
#menu #desktop-menu.right {
    justify-content: end;
    width: 100%;
    margin-left: 0;
    margin-right: 20px;
}
#menu #desktop-menu .title {
    color: var(--text-primary-color);
    display: inline-block;
    margin-right: 5px;
}
#menu #desktop-menu a {
    color: var(--text-primary-color);
    display: inline-block;
}