#menu.top {
    display: flex;
    gap: 20px;
    background-color: var(--theme-primary-color);
    box-shadow: 0 10px 10px 0 var(--shadow-color);
    font-weight: bold;
    position: fixed;
    transition: background 0.25s ease-out, top 0.25s ease-out;
    top: 0;
    width: 100vw;
    height: 50px;
    z-index: 100;
}
#menu.top #desktop-menu {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-left: 20px;
    gap: 40px;
}
#menu.top #desktop-menu.start {
    justify-content: start;
    margin-left: 60px;
}
#menu.top #desktop-menu.center {
    justify-content: center;
    width: 100%;
    margin-left: 0;
}
#menu.top #desktop-menu.end {
    justify-content: end;
    width: 100%;
    margin-left: 0;
    margin-right: 20px;
}
#menu.top #desktop-menu .title {
    color: var(--text-primary-color);
    display: inline-block;
    margin-right: 5px;
}
#menu.top #desktop-menu a {
    color: var(--text-primary-color);
    display: inline-block;
}
#menu.top.hidden {
    top: -60px;
}

#menu.side {
    background-color: var(--theme-primary-color);
    box-shadow: -5px 0 10px 0 var(--shadow-color);
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 60px;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.3s ease-out;
}
#menu.side.left {
    left: 0;
    box-shadow: 5px 0 10px 0 var(--shadow-color);
}
#menu.side.right {
    right: 0;
    box-shadow: -5px 0 10px 0 var(--shadow-color);
}
#menu.side:hover {
    width: 220px;
}

#menu.side #desktop-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    overflow-y: hidden;
}
#menu.side #desktop-menu.align.start{
    justify-content: start;
}
#menu.side #desktop-menu.align.center{
    justify-content: center;
}
#menu.side #desktop-menu.align.end{
    justify-content: end;
}
#menu.side.left #desktop-menu .title,
#menu.side.left #desktop-menu .menu-item {
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.2s ease-out;
}
#menu.side.left #desktop-menu .title i,
#menu.side.left #desktop-menu .menu-item i {
    flex-shrink: 0;
    font-size: 20px;
    min-width: 20px;
}
#menu.side.left #desktop-menu .label {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu.side.left:hover #desktop-menu .label {
    opacity: 1;
}
#menu.side.right #desktop-menu .title,
#menu.side.right #desktop-menu .menu-item {
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: row-reverse;
    transition: all 0.2s ease-out;
}
#menu.side.right #desktop-menu .title i,
#menu.side.right #desktop-menu .menu-item i {
    flex-shrink: 0;
    font-size: 20px;
    min-width: 20px;
}
#menu.side.right #desktop-menu .label {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu.side.right:hover #desktop-menu .label {
    opacity: 1;
}
#menu.side #desktop-menu.start {
    justify-content: flex-start;
}
#menu.side #desktop-menu.center {
    justify-content: center;
}
#menu.side #desktop-menu.end {
    justify-content: flex-end;
}